/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


 */

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 }

/* Layout for sticky footer */
html, body, #root {
  height: 100%;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

 /* .app-title{
  text-align: center;
 } */


 .tools{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
 }

.main-layout{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  flex: 1; /* allow main content to grow and push footer to bottom */
}

.matches-grid-wrapper{
  min-width: 300px;

}

.league-table-wrapper{
  min-width: 300px;
  
}


@media screen and (max-width: 1400px){
  .main-layout{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

@media screen and (max-width: 1000px) {
  .tools{
    flex-direction: column;
  }
}