.grid{
    
    
}

.matches{
    line-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    font-size: 1.3rem;
    font-weight: bolder;
}