.grid{
    width: 100vw;
    /* margin: 100px auto; */
    max-width: 500px;
    /* background-color: blue; */
    padding: 20px;
    border-left: 1px solid white;
}

.matches{
    line-height: 40px;
}