.match-container{
    width: 100%;
    /* background-color: aqua; */
    
}

.match-desc{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: azure; */
    align-items: center;
    margin: 20px 0;
    flex-direction: column;

}

.team{
    font-weight: bold;
    margin: 10px 10px;
}


.date{
    padding: 0;
    margin: 0;
}


.match-pred{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
    align-items: center;
    /* background-color: antiquewhite; */
}

.prediction-result{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.winner{
    padding: 0;
    margin: 0;
}

.confidence{
    padding: 0;
    margin: 0;
}

.predict-btn{
    margin: 10px 10px;
}